<form action="/profile" method="POST">
    {{#each prompts}}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <span class="text-nowrap">{{this.title}}</span>
            {{#if this.enum}}
                <select name="{{this.id}}" id="{{this.id}}" class="form-control">
                    {{#each this.options}}
                        <option value="{{this.const}}">{{this.title}}</option>
                    {{/each}}
                </select>
            {{else}}
                <input name="{{this.id}}" id="{{this.id}}" class="form-control">
            {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
        <button type="submit" class="btn btn-primary my-4">Update Profile</button>
        </div>
    </div>
    </div>
</form>